@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

/*Acceuil__________________________________________________________________________________________________________*/


#About{
    display: flex;
    flex-direction: row; 
    height: 100vh;
    width: 100vw;
    align-items: center; 
    justify-content: center; 
    gap: 50px; 
    padding: 50px;
}

.image-container {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    padding: 20px;
    height: 60vh; 
}

/* Encadré avec coins arrondis et bordure dorée */
.containe {
    position: relative;
    width: 220px; 
    height: 320px; 
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #c1b086; 
    top: 46px; 
    left: -80px; 
    box-shadow: 4px 4px 4px black; 
}
.grid-layout{
    position: relative;
    width: 220px; 
    height: 320px; 
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #c1b086; 
    top: 46px; 
    left: -80px; 
    box-shadow: 4px 4px 4px black; 
}

.containe{
    transition: transform 0.3s ease-in-out;
}

.containe:hover {
    transform: scale(1.3);
}
.grid-layout{
    transition: transform 0.3s ease-in-out;
}

.grid-layout:hover {
    transform: scale(1.3);
}

/* Style de l'image dans le premier encadré */
.containe  img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Style de l'image dans le deuxième encadré */

.grid-layout{
    position: relative;
    width: 230px; 
    height: 160px; 
    border-radius: 15px;
    border: 2px solid #c1b086;
    overflow: hidden;
    top: 153px; 
    left: -187px; 
    box-shadow: 4px 4px 4px black; 
}

.grid-layout img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.text {
    width: 30%;
}

/* Style du texte */
.text h1 {
    font-size: 20px;
    color: black;
    font-weight: normal;
    line-height: 1.6;
    text-align: left;
    margin-left: -92px ;
    font-weight: bold ;
    font-family: 'Roboto Slab', serif;
}

.text h2 {
    position: relative;
    font-size: 10px;
    color: #555;
    font-weight: normal;
    line-height: 1.6;
    text-align: left;
    margin-left: -92px;
    width: 135%;
    margin-top: 80px ;
    padding-top: 10px; 
}

.text h2::before {
    content: "";
    display: block;
    width: 70px; 
    height: 2.5px; 
    background-color: #c1b086; 
    position: absolute;
    top: -10px; 
    left: 0; 
}

.text p {
    font-size: 10px;
    color: #555;
    line-height: 1.6;
    text-align: left;
    margin-top: 35px ;
    margin-left: -60px ;
    width: 135%;
    text-align: justify; 
}

.p2 {
    margin-top: 20px; 
}

.home-button a{
    font-weight: normal;
    display: inline-block;
    margin-top: 450px; 
    margin-left: -420px ;
    padding: 15px 30px;
    background-color: #c1b086; 
    color: white;
    text-decoration: none;
    font-size: 7px;
    border-radius: 20px; 
    border: 1px solid white;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s ease-in-out;
}

.home-button a:hover {
    background-color: #c1b086;
}
